<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>

    <div th:replace="fragments/fragment :: navbar"></div>

    <main role="main">
        <div class="jumbotron">
            <div class="container">

                <h1 class="display-3">Tech Talent Store</h1>

                <p>This is a small e-commerce application that allows a user 
                to purchase some of a few products that are offered here.</p>

                <p><a href="/about" class="btn btn-primary btn-large" role="button">Learn More! &raquo;</a></p>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="images/iphone11.jpg" alt="iPhone11">
                    <div class="card-body">
                        <h5 class="card-title">iPhone11</h5>
                        <p class="card-text">Some example text</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="images/macbookpro.jpg" alt="MacbookPro">
                    <div class="card-body">
                        <h5 class="card-title">MacbookPro</h5>
                        <p class="card-text">Some example text</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="images/ipadpro.jpg" alt="iPadPro">
                    <div class="card-body">
                        <h5 class="card-title">iPadPro</h5>
                        <p class="card-text">Some example text</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="images/imac.jpg" alt="iMac">
                    <div class="card-body">
                        <h5 class="card-title">iMac</h5>
                        <p class="card-text">Some example text</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/fragment :: footer"></div>
</body>
</html>